body{
margin: 0px;
padding: 0px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image{
width: 100%;
height: 100vh;
background-position: center;
background-size: cover;
background-image: url(../website/img/img1.webp);

background-attachment: fixed;
}

.image-overlay{
width: 100%;
height:84.5vh;
display:flex;
background-color:#54595fd5;
color: white;
align-items: center;
justify-content: center;
}

.heading{
margin-left: 50px;
font-size: 50px;
font-family:'DM Serif Display', serif ;
line-height: 2.4em;
margin-top: -100px;
width: 60%;
}

.p0{
margin-left: 1000px;
margin-top: -300px;
font-size:25px;
width: 27%;
color: white;
}

.mainnav{
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 10%;
padding-right: 10%;
background-color:#54595fd5;
height: 150px;
}

.side2 a{
color: white;
text-decoration: none;
padding: 1rem;
justify-content:space-evenly ;
}

.side2 ul li{
list-style-type: none;
display: inline-block;
padding: 10px 20px;
text-align: center;
}

.side2 ul li a{
color: white;
text-decoration: none;
font-weight: bold;
}

.side2, ul li a:hover{
color:#38c7b3 ;
text-transform:.3s;
}

.butn{
height: 50px;
font-size: 15px;
font-family: Arial, sans-serif ;
}

.butn:hover{
background-color: #38c7b3;
border: none;
}

#section{
margin-left: 350px;
font-size: 27px;
font-family:'DM Serif Display', serif ;
}

#box{
margin-left: 345px;
box-sizing: border-box;
display: flex;
}

h4{
font-size: 24px;
font-family:'DM Serif Display', serif ;
}

p{
font-size: 21px;
}

.box1,.box2,.box3{
width: 350px;
height: 2px;
padding: 10px;
text-align: start;
font-family: cilbare;
}

#about{
background-color:#38c7b3;
margin-top: 300px; 
height: 650px;
padding: 80px;
}

#aboutus{
margin-left: 345px;
font-family:'DM Serif Display', serif ;
font-size: 27px;
}

.para{
margin-left: 345px;
width: 370px;
font-size: xx-large;
font-family:  Arial, sans-serif;
}

.para1,.para2{
width: 350px;
margin-left: 345px;
margin-right: 50%;
font-family: cilbare;
}

#qwe{
float:right;   
margin-right: 345px;
}

#text{
font-family:'DM Serif Display', serif ;
margin-top: 300px;
text-align: center;
font-size: 27px;
}

.ul{
display: flex;
text-align: center;
margin-right: 20px;
}

.text2{
font-family:'DM Serif Display', serif ;
font-size: 27px;
margin-left:345px ;
}

p{
font-family:  Arial, sans-serif;
}

#img2{
background-color:#14261c;
margin-top: 390px; 
height: 580px;
padding: 80px;
}

.color{
background-color:#38c7b3;
width: 1100px;
height: 500px;
margin-left:345px ;
margin-top: -15%;
}

.text3{
font-family:'DM Serif Display', serif ;
font-size: 20px;
margin-left: 10px;
padding: 20px;
width: 30%;
}

.p4{
font-family:  Arial, sans-serif;
text-align: center;
}
.text4{
float: right;
margin-top: -500px;
margin-left: 750px;
position: absolute;
}

.text5{
font-family:'DM Serif Display', serif ;
font-size: 30px;
margin-left:345px ;
margin-top: -15%;
color: white;
width: 30%;
}

.text6{
width: 30%;
color: white;
float: right;
font-size: x-large;
text-align:justify;
margin-right: 15%;
margin-top: -9.5%;
}
 
#footer{
margin-top: 200px;
margin-left: 345px;
}

.text7{
font-family:'DM Serif Display', serif ;
font-size: 30px;
width: 40%;
}

.text8{
float: right;
font-size: x-large;
text-align:justify;
margin-right: 25%;
margin-top: -10.5%;
width: 30%;
}

.img2{
display: inline;
padding: 60px;
}

.img3, .img4, .img5{
display: inline;
text-align: center;
justify-content: space-evenly;
}

.color3{
background-color:#38c7b3;
margin-top: 100px;
height: 200px;
}

.text9{
font-family:'DM Serif Display', serif ;
font-size: 27px;
margin-left: 345px;
padding-top: 45px;
}

.text10{
margin-left: 700px;
margin-top: -90px;
display: block;
}
.mail{
font-size: 16px;
padding: 15px 10ox;
width: 50%;
border: 0;
outline: none;
box-sizing: border-box;
height: 60px;
}

.text11{
margin-top: -78px;
margin-left: 1320px;
}

.botn{
font-size: 20px;
height: 60px;
width: 29%;
background-color: #38c7b3;
}

#nav2{
margin-top: 70px;
margin-left: 345px;
font-size: 18px;
}

.nav3{
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 10%;
padding-right: 10%;
float: right;
margin-top: -69px;
}

.nav3 ul li{
list-style-type: none;
display: inline-block;
padding: 10px 20px; 
}
.nav3 ul li a{
color: rgb(12, 12, 12);
text-decoration: none;
font-weight: bold;
}

.address{
margin-top: 80px;
margin-left: 345px;
width: 30%;
font-weight: bold;
}

.icon{
margin-left: 1500px;
margin-top: -70px;
}

p9{
margin-left: 750px;
}

.overlay{
    width: 100%;
    height:39vh;
     display:flex;
    background-color:#54595fd5;
    color: white;
    align-items: center;
    justify-content: center;
        
}
    

.box4{
    height: 500px;
    width: 100%;
    background-color: #38c7b3;
   margin-top: -22px;
   text-align: center;
   font-size: 27px;
  font-family: 'DM Serif Display', serif ;
} 

#box{
    margin-left: 345px;
    box-sizing: border-box;
    display: flex;
}


h3{
    font-size: 24px;
    font-family:'DM Serif Display', serif ;
}

p{
    font-size: 21px;
}

.box5,.box6,.box7{
width: 350px;
height: 2px;
padding: 10px;
text-align: start;
font-family: cilbare;
text-align: center;
}

#text{
    font-family:'DM Serif Display', serif ;
    margin-top: 300px;
    text-align: center;
    font-size: 27px;
}
.ul{
display: flex;
text-align: center;
margin-right: 20px;
}

.text2{
    font-family:'DM Serif Display', serif ;
    font-size: 27px;
    margin-left:345px ;
}
p{
    font-family:  Arial, sans-serif;
}


#nav3{
    margin-top: 290px;
    margin-left: 345px;
    font-size: 18px;
    }
    
    .nav4{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        float: right;
        margin-top: -69px;
     }
    .nav4 ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px; 
    }
    .nav4 ul li a{
        color: rgb(12, 12, 12);
         text-decoration: none;
         font-weight: bold;
    }

.img0{
    background-color:#38c7b3;
    height: 780px;
}
#img1{
    margin-left: 345px;
    margin-top: 150px;
     }   
    
    .text12{
        margin-left: 1100px;
        margin-top: -260px;
        width: 30%;
        font-size: x-large;
        font-family: calbrie;
        font-weight: bold;
     }
    
     .text13{
        margin-left: 1100px;
        margin-top: 20px;
        width: 32%;
        font-size: large;
        font-family:Arial, sans-serif
    }
    
    .text14{
        margin-left:1100px ;
        margin-top: 100px;
        font-family:'DM Serif Display', serif ;
    }
    
    ul li{
        font-family:Arial, sans-serif;
        font-size: large;
        padding-inline-start: 5px;
    }
    
    #text15{
        text-align: center;
        font-family:'DM Serif Display', serif ;
        font-size: 50px;
        margin-top: 550px;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
      justify-content: space-around;  
     text-align: center;
    }
    
    .review-column {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        flex: 1;
        margin: 10px;
        max-width: 23%;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .review-column h2 {
        margin-bottom: 10px;
    }
    
    .review-column p {
        line-height: 1.5;
    }

.image-11{
        width: 100%;
        height:39vh;
        display:flex;
        background-color:#54595fd5;
        color: white;
        align-items: center;
        justify-content: center;
        
        }
        
    .heading2{
        margin-left: 50px;
        font-size: 50px;
        font-family:'DM Serif Display', serif ;
        line-height: 2.4em;
        margin-top: -100px;
        width: 60%;
        }
    
    .mainnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        background-color:#54595fd5;
        height: 150px;
        }
        .side2 a{
        color: white;
        text-decoration: none;
        padding: 1rem;
        justify-content:space-evenly ;
        }
    .side2 ul li{
            list-style-type: none;
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
        }
        
    .side2 ul li a{
            color: white;
            text-decoration: none;
            font-weight: bold;
    }
        
    .side2 ul li a:hover{
            color:#38c7b3 ;
            text-transform:.3s;
        }
    .side3{
            box-sizing: border-box;
    }  
    .color1{
        background-color:#38c7b3;
        height: 950px;
        margin-top: -270px;
    } 
    .heading h2{
     margin-top: 180px;
     margin-left: 340px;
     font-size: 52px;
    }
    
    .icon1{
        margin-top: -700px;
        margin-left: 400px;
    }
    
    .text16 p{
        margin-left: 48px;
        margin-top: -21px;
        font-size: 20px;
    }
    
    .icon2{
        margin-top: 50px;
        margin-left: 400px;
    }
    
    .text17 p{
        margin-left: 40px;
        margin-top: -21px;
        font-size: 20px;
    }
    
    .heading2{
    margin-top: 100px;
     margin-left: 400px;
     font-size: 30px;
     font-family:'DM Serif Display', serif ;
    }
    
    .icon3{
        margin-left: 290px;
    }
    
    .subbox1{
        background-color: white;
        height: 604px;
        width: 30%;
        margin-left: 1150px;
        margin-top: -470px;
        position: absolute;
        padding: 30PX;
    
    
    }
    
    
    
    .heading3 h4{
        font-family:'DM Serif Display', serif ;
        margin-left: 100px;
        font-size: 47px;
    margin-top: 50px;
    }
    
    .form {
        display: block;
        float: none;
    margin-left: -300px;
    
    }
    
    .map{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -45px;
    }
    
    
    iframe{
        width: 100%;
        height: 50vh;
    }
    
    
        
    .form-container {
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 500px;
    }
    
    form h2 {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    .btn{
        width: 50%;
        padding: 10px;
        background-color: #fbfdfc;
        color: #080808;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }
    
    